<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<array>
		<dict>
			<key>desc</key>
			<string>Will be effective next time you open the app.</string>
			<key>default</key>
			<integer>0</integer>
			<key>title</key>
			<string>Set a default HEB</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>Notifying you when you are close your HEB</string>
			<key>default</key>
			<integer>1</integer>
			<key>title</key>
			<string>Use Geo-fenceing</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>default is 0.62 Mile (1kM)</string>
			<key>default</key>
			<integer>1000</integer>
			<key>title</key>
			<string>Geo-fencing Distance</string>
		</dict>
	</array>
	<key>About</key>
	<array>
		<dict>
			<key>title</key>
			<string>About Us</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Contact Us</string>
		</dict>
	</array>
</dict>
</plist>
